.container{
    position:relative;
    margin-left:10%;
    margin-top:50px;
    margin-right:10%;
     padding-left: 1rem;
    padding-right: 1rem;
}

.title{
    display:flex;
    align-items:center;
      color:var(--color-text);
    gap:1rem;
}

.titleImg{
    width:50px;
    height:50px;
    border:1px solid white;
    border-radius:50%;
    transition:transform 0.3s ease;
}
.titleImg:hover{
   transform:scale(1.5);
}


.carousel{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:16px;
    
}

.carouselImg{
    width:min(900px,90vw);
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius:12px;
    background:#0000;
    cursor:pointer;
    border:10px solid rgb(250, 247, 245);
    box-shadow:
    20px 20px 50px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);

  transition: transform 0.4s ease;
    transition:transform 0.6s ease;
}

.carouselImg:hover{
    transform:scale(1.02);
}
.controls{
    display:flex;
    gap:24px;
}