.container{
      position:relative;
      display:flex;
      align-items:center;
      justify-content:space-between;
      margin-top:49px;
      z-index:1;
      margin-left:10%;
      margin-right:10%;
}

.content{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    color:var(--color-text);
    z-index:1;
}

.title{
    font-size:72px;
    font-weight:900;
    margin-bottom:33px;
    font-family:var(--font-roboto);
    background:linear-gradient(90deg,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.description{
    font-family:var(--font-roboto);
    margin-bottom:52px;
    font-size:30px;
}

.contactBtn,.resumeBtn{
    text-decoration:none;
    background-color:var(--color-primary);
    color:var(--color-text);
    border-radius:100px;
    /* font-size:30px; */
    font-weight:500;
    font-size: clamp(16px, 3vw, 30px);
    padding: clamp(10px, 2vw, 17px) clamp(16px, 3vw, 26px);
    /* padding:17px 26px; */
    box-shadow:0 0 4px 0 rgba(0,0,0,0.25);
    transform:scale(1.0);
    border:1px solid rgba(4, 29, 100, 0.984);
    transition:transform 0.6s ease,box-shadow 0.3s ease,border 0.3s ease-out;

}

.contactBtn:hover,.resumeBtn:hover{
    transform:scale(1.2);
    box-shadow:0 10px 40px rgba(149, 151, 232, 0.35);
    border:2px solid white;
}

@media (max-width: 600px) {
    
  .contactBtn:hover,
  .resumeBtn:hover {
    transform: scale(1.05);
  }
  .title{
    font-size:50px;
    font-weight:500;
  }
  .description{
    font-size:30px;

  }
}

.heroImg{
    width:50%;
    z-index:1;
    animation-name:floating;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
}

@keyframes floating{
    0%{
        transform:translate(0,0px);
    }
    50%{
        transform:translate(0,10px);
    }
    100%{
        transform:translate(0,-0px);
    }
}

.topBlur{
    position:absolute;
    width:50vw;
    height:50vw;
    min-width:350px;
    min-width:350px;
    top:-128px;
    left:10vw;
    border:764px;
    background:rgba(25,55,109,0.7);
    filter:blur(100px);
    z-index:0;

}

@media screen and (max-width:830px){
    .container{
        flex-direction:column-reverse;
    }
    .content{
        align-items:center;
    }
}


.contact{
    display:flex;
    gap:2rem;
}